@font-face {
  font-family: 'PingFang-SC-Bold';
  src: url('PINGFANG_BOLD.TTF') format('truetype');
}
@font-face {
  font-family: 'PingFang-SC-Medium';
  src: url('PINGFANG_MEDIUM.TTF') format('truetype');
}
@font-face {
  font-family: 'PingFang-SC-Regular';
  src: url('PINGFANG_REGULAR.TTF') format('truetype');
}